.app-navbar {
    position: relative;
    flex-direction: row;
    height: $navbar-min-height;
    padding: 0;
    margin: 0;
    background-image: $navbar-bg-color;

    .navbar-brand {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $navbar-brand-width;
        height: $navbar-min-height;
        padding: 0;
        margin-right: 0;
        transition-duration: 0.4s;
        transition-timing-function: ease;
    }

    .brand-img {
        margin-right: 10px;
        top: 2px;
    }

    .brand-text {
        font-family: $brand-text-font;
        font-size: $brand-text-size;
        color: $brand-font-color;
        text-transform: capitalize;
    }

    .navbar-toggler {
        position: relative;
        margin-left: 20px;
    }

    .navbar-toggle-icon {
        font-size: 21px;
        color: #ecd0e9;

        &:hover {
            color: #812a78;
        }
    }

    .top-main-navbar {
        font-size: 12px;
    }

    .nav-item {
        font-size: 21px;
        color: #ecd0e9;

        & i {
            color: #ecd0e9;

            &:hover {
                color: #812a78;
            }
        }
    }
    button {
        margin: 0 auto;
    }
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        background: 0;
        border: 0;

        .badge {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16px;
            margin-left: 0;
        }

        > .user-auth-img {
            height: $navbar-min-height - 20px;
            margin: 0 10px;
        ;
        }
    }
}

.user-status {
    background: $green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $white;
    position: absolute;
    bottom: 7px;
    right: 25px;
}

.dropdown-item {
    font-size: 11px;
    color: $black;

    & i {
        color: $black !important;
    }

    &:hover {
        background-color: #812a78;
        color: $white;

        & i {
            color: #ecd0e9 !important;
        }
    }
}
