@import "vars/colors";

@import "mixins/bootstrap/border-radius";
@import "vars/bootstrap/variables";

//
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";

//Навбар
$navbar-min-height:           66px !default;
$navbar-bg-color:             linear-gradient(to top, #ecd0e9, #812a78) !default;
$navbar-border: (
    bottom: (
        size:           1px,
        style:          solid,
        color:          $light_grey
    )
) !default;
$navbar-color:                linear-gradient(to bottom, #ecd0e9 0%, #812a78 100%) !default;
$navbar-hover-color:          $pink !default;

// Навбар бренд
$navbar-brand-width:          14.0625rem !default;
$navbar-transition: (
    transition-duration:                0.4s,
    transition-timing-function:         ease
) !default;
$brand-text-font:             'Poppins', sans-serif !default;
$brand-text-size:             1.3125rem !default;
$brand-font-color:            $black;
$navbar-brand-minimized-width: 3.125rem !default;

// Сайдбар
$sidebar-width:               225px !default;
$sidebar-padding:             0 !default;
$sidebar-color:               $white !default;
$sidebar-bg:                  #812a78 !default;
$sidebar-border: (            //none !default; //{
    right: (
        size: 1px,
        style: solid,
        color: #812a78
    )
) !default;

// Breadcrumb
$breadcrumb-borders: (
        bottom: (
                size:                             1px,
                style:                            solid,
                color:                            $border-color
        )
) !default;

$breadcrumb-padding-y:              12px !default;
$breadcrumb-padding-x:              16px !default;
$breadcrumb-item-padding:           8px !default;

$breadcrumb-margin-bottom:          16px !default;

$sidebar-minimized-width:          50px !default;
$sidebar-compact-width:            150px !default;
$sidebar-mobile-width:             220px !default;


$sidebar-profile-minheight:         90px !default;
$sidebar-profile-padding:           15px !default;

// Заголовок сайдбара
$sidebar-header-height:           auto !default;
$sidebar-header-padding-y:        .75rem !default;
$sidebar-header-padding-x:        1rem !default;
$sidebar-header-bg:               #812a78 !default; //linear-gradient(to left, #ecd0e9 0%, #812a78 100%) !default;
$sidebar-header-font-size:        0.6875rem !default;
$sidebar-header0font-weight:      500 !default;


$sidebar-nav-link-bg:                 #ecd0e9 !default;
$sidebar-nav-title-padding-y:         .75rem !default;
$sidebar-nav-title-padding-x:         1rem !default;
$sidebar-nav-link-padding-y:          .75rem !default;
$sidebar-nav-link-padding-x:          1rem !default;
$sidebar-nav-link-color:              #812a78 !default;
$sidebar-nav-link-borders:            0 !default;

//
$sidebar-nav-link-active-color:       #812a78 !default;
$sidebar-nav-link-active-bg:          lighten($sidebar-bg, 5%) !default;
$sidebar-nav-link-active-borders:     0 !default;

//
$sidebar-nav-link-hover-color:        $white !default;
$sidebar-nav-link-hover-bg:           linear-gradient(to top, #ecd0e9 0%, #812a78 100%) !default;
$sidebar-nav-link-hover-borders:      0 !default;

$sidebar-nav-dropdown-color:          #812a78 !default;
$sidebar-nav-dropdown-bg:             rgba(0,0,0,.2) !default;
$sidebar-nav-dropdown-indicator:      f137 ; //'<i>fas fa-chevron-circle-left</i>';
//$sidebar-nav-dropdown-indicator:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-nav-dropdown-indicator-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;
$sidebar-nav-dropdown-indicator-hover-color:$sidebar-nav-link-hover-color;
$sidebar-nav-dropdown-indicator-hover: 'fas fa-chevron-circle-down';

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
        (
            0: 0,
            1: ($spacer * .25),
            2: ($spacer * .5),
            3: $spacer,
            4: ($spacer * 1.5),
            5: ($spacer * 3)
        ),
        $spacers
);

// Switches

$switch-width:          2.5rem !default;
$switch-height:         1.625rem !default;
$switch-font-size:      0.625rem !default;

$switch-lg-width:       3rem !default;
$switch-lg-height:      1.875rem !default;
$switch-lg-font-size:   0.75rem !default;

$switch-sm-width:       2rem !default;
$switch-sm-height:      1.375rem !default;
$switch-sm-font-size:   0.5rem !default;

$switch-label-width:    3rem !default;
$switch-label-lg-width: 3.5rem !default;
$switch-label-sm-width: 2.5rem !default;

$switch-handle-margin:  0.125rem !default;