@import "~bootstrap-vue/dist/bootstrap-vue.css";
//@import '~materialize-css/dist/css/materialize.min.css';
@import "core/core.scss";
.login-container {
    padding-top: 6%;
    padding-bottom: 2%;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at center, #53aa3f 0%, #1f5d11 100%);
}
.login-content {
    background-size: 100% 100%;
    box-shadow: 0 0 20px #16410c;
    border-radius: 7px;
}
.login-header {
    padding: 0;
    background: linear-gradient(to bottom, #e87be4 0%, #810c6e 100%);
    border-radius: 7px 7px 0px 0px;
}
.login-logo {
    margin-top: 2%;
}
.header-login {
    text-shadow: 2px 2px 3px #343a40;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #fff;
}
.login-errors {
    background-color: #fff;
}
.login-form {
    background-color: #fff;
    border-radius: 0 0 7px 7px;
}
.input-sav {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
}
.login-remember {
    margin-left: 5%;
    margin-right: 2%;
}
.login-forgot {
    //float: right;
}
.login-submit {
    margin-bottom: 5%;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 0 4px #0d1a41;

}

.login-submit i {
float: right;
}

/* Восстановление пароля */
.forgot-head {
    margin-top: 3%;
}
.forgot-input {
    margin-bottom: 3%;
}

//

.dropdown-profile {
    min-width: 185px;
    box-sizing: border-box;
    background-color: #eee;
}
.user-header {
    padding: 10px 0;
    text-align: center;
    background-color: #eee;

    & .img {
        height: 90px;
        width: 90px;
        vertical-align: middle;
        border-style: none;
    }
    & p {
        margin-top: 10px;
        font-size: 18px;
    }
}

.menu-icon {
    //color: $black !important;
}

/* Справочник поставщиков */
.recv_post {
    font-size: 11px;
}

.card-suppliers {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $white;
        text-decoration: none;
        box-shadow: 0 0 4px #0d1a41;
    }
    & button i {
        color: $white;
    }

    & .dashboard-card:hover {
        box-shadow: 0 0 4px #0d1a41;
    }
}
.counter-suppliers {
    font-weight: 600;
    margin-top: 3px;
    font-size: 38px;
}
.cart-title {
    font-size: 22px;
    font-weight: 200;
}
